.hero {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.25rem 2.5rem;
    height: calc(95vh - 60px);

}

.title {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 600;
    color: var(--color-text-accent);
}

.video {
    width: 83%;
}

.actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}