.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.listElement {
    font-size: 0.875rem;
    color: var(--color-text-gray);
}

@media (max-width: 640px) {
    .container {
        display: none;
    }
}